<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
          <ion-title>Navigate</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngFor="let page of appPages">
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerDirection]="forward" (click)="onClick(page.title, page.url)">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>
                {{page.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>

