path.leaflet-interactive.animate {
    stroke-dasharray: 1920;
    stroke-dashoffset: 1920;
    animation: dash 10s linear 1s forwards;
}

.leaflet-routing-container {
   width: 32px;
   background: red;
   padding-top: 4px; 
   top: 4px;   /*added by me */
 
//    transition: margin-right 0.2s ease;
 }


 
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}    